---
import Layout from '../layouts/Layout.astro';
import ValidatorStateTable from '../components/ValidatorStateTable.astro';
---

<Layout title="Tenderduty">
	<div>
		<ValidatorStateTable />
	</div>
</Layout>
