---
import Layout from "../layouts/Layout.astro";
import LogList from '../components/LogList.astro'
import { getIsLogsEnabled } from "../services";

const logsEnabled = await getIsLogsEnabled();
---

<Layout title="Tenderduty -- Logs">
  {logsEnabled?.enabled === true ? <LogList /> : <div>Log is not available.</div>}
</Layout>